.wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(180deg, #ffffff8f 0, #ffffff8c), url("../../static/img/bg-light.svg");
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 960rem;
    padding: 0 1.5rem;
}

.logo {
    margin-bottom: 20px;
}

[data-theme='dark'] {
    .wrapper {
        background-image: linear-gradient(180deg, #0000008f 0, #1c1c1c85), url("../../static/img/bg-dark.svg");
    }
}
