{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": [
    "hardhat.config.js",
    "**/types/*.ts",
    "*.graphql.ts",
    "scripts/*",
    "dist/*",
    "*.d.ts"
  ],
  "plugins": [
    "import",
    "@typescript-eslint"
  ],
  "rules": {

    // Common

    "no-empty": 0,
    "no-trailing-spaces": 1,
    "semi": [ "error", "never" ],
    "max-len": [ "warn", { "code": 140 } ],
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "ts-ignore": "allow-with-description"
      }
    ],
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "object-curly-spacing": [ "error", "always" ],
    "array-bracket-spacing": [ "error", "always" ],
    "no-multiple-empty-lines": [ "error", { "max": 2 } ],
    "@typescript-eslint/no-unnecessary-type-constraint": "off",
    "jsx-a11y/alt-text": 0,
    "comma-dangle": [
      "warn", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],

    // Special

    "no-restricted-globals": [ "error", {
      "name": "localStorage",
      "message": "Use localStorage module from @stakewise/frontwise-modules!"
    } ],

    // Import plugin

    "import/named": 0,
    "import/first": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-dynamic-require": 0,
    "import/prefer-default-export": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/no-named-as-default-member": 1,
    "import/no-extraneous-dependencies": 0,
    "import/no-anonymous-default-export": 0,
    "import/newline-after-import": [ "error", { "count": 2 } ]
  }
}
