.idea
.turbo
.vscode
.rollup.cache
tsconfig.tsbuildinfo

dist
cache
coverage

# dependencies
node_modules

# Types
*.graphql.ts
schema.graphql
src/types/graphql
src/contracts/types
src/contracts/vault/types
