name: Check SDK types

on:
  pull_request:
    branches: [ main, prod ]

jobs:
  build_check:
    name: Build check
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup node and npm
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install npm dependencies
        run: 'npm ci --ignore-scripts'
        shell: bash

      - name: Run Build check
        run: 'npm run rollup'
